<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h3>Containers</h3>
    </div>
    <div class="span12">
      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="mtime">Newest</option>
      </select>
    </div>
  </div>

  <hr />

  <div class="accordion" id="dockerflyui-accordion">
    <div class="accordion-group" ng-repeat="container in containers | filter:query | orderBy:orderProp">
      <div class="accordion-heading">
        <a data-target="#" ng-model="collapsed" ng-click="collapsed=!collapsed" class="docker-container-item">
          <span>Name:{{container.container_name}}</span>
          <span>IP:{{container.eths[0][2]}}</span>
          <span>upTime:{{container.last_modify_time}}</span>
        </a>
        <div class="btn-group">
          <button class="btn {{container.status=='stopped' || 'disabled'}}">运行</button>
          <button class="btn {{container.status=='running' || 'disabled'}}">停止</button>
          <button class="btn">删除</button>
        </div>
      </div>
      <div ng-show="collapsed" class="accordion-body collapse in">
        <div class="accordion-inner">
          <pre pretty-json="container" />
          {{container}}
        </div>
      </div>
    </div>
  </div>

</div>

