<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="mtime">Newest</option>
      </select>
    </div>
  </div>

  <hr />

  <div class="accordion" id="dockerflyui-accordion">
    <div class="accordion-group item" ng-repeat="container in containers | filter:query | orderBy:orderProp">
      <div class="accordion-heading">
        <a data-target="#" ng-model="collapsed" ng-click="changeCollapsed(container)" class="docker-container-item">
          <span>Name:{{container.container_name}}</span>
          <span>IP:{{container.eths[0][2]}}</span>
          <span>upTime:{{container.last_modify_time}}</span>
        </a>
        <div class="btn-group btn-status-control">
          <button class="btn {{container.status=='stopped' || 'disabled'}}" ng-click="startContainer(container)">运行</button>
          <button class="btn {{container.status=='running' || 'disabled'}}" ng-click="stopContainer(container)">停止</button>
          <button class="btn {{container.status=='stopped' || 'disabled'}}" ng-click="removeContainer(container)">删除</button>
        </div>
      </div>
      <div ng-show="collapsed[container.id]" class="accordion-body collapse in">
        <div class="accordion-inner">
          <pretty-json json="container"></pretty-json>
        </div>
      </div>
    </div>
  </div>

</div>

