<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h3>Create Containers (可用镜像)</h3>

      <li><h5>docker-registry.dev.netis.com.cn:5000/netis/centos6</h5></li>
      <li><h5>docker-registry.dev.netis.com.cn:5000/netis/bpc3</h5></li>
      <li><h5>docker-registry.dev.netis.com.cn:5000/netis/npm3</h5></li>
      <li><h5>docker-registry.dev.netis.com.cn:5000/netis/smartprobe</h5></li>
    </div>
  </div>

  <hr />

  <div>
    <pretty-json json="container_template" edition="true"></pretty-json>
  </div>

  <hr />

  <div class="btn-group">
    <button class="btn" ng-click="createContainer(container_template)">Create</button>
  </div>

</div>
