/* app css stylesheet */

.accordion-heading {
  height: 35px;
  padding-top: 10px;
}

.docker-container-item {
  height: 30px;
  font-size: 20px;
  margin-right: 40px;
}

.btn-status-control {
  float: right;
}

/* hack bootstrap to add top space bwtween rows */
.top-buffer {margin-top:20px; }
